body {
    width: 375px;
    background-color: hsl(212, 45%, 89%);
    padding-bottom: 1000px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.qr_code_img {
    width: 288px;
    border-radius: 10px;
    position: absolute;
    left: 16px;
    right: 16px;
    top: 16px;
}

.container {
    width: 320px;
    height: 500px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    left: 200px;
    top: 300px;
   
   
}

.main_text, .sub_text {
    position: absolute;
    font-family: Outfit, sans-serif;

    text-wrap: balance;
    text-align: center;

}

.main_text {
    top: 340px;
    font-size: large;

    font-weight: 700;
    
    
}

.sub_text {
    top: 409px;
    font-size: 14px;
 
    font-weight: 400;
    width: 250px;
    left: 25px;
    text-align: center;
    
}

.attribution {
    position: absolute;
    top: 475px;
    left: 25px;
}