/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%; /* 16px default */
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: hsl(47, 88%, 63%);
    padding: 20px;
    padding-bottom: 600px;
}

/* Utility classes */
.container {
    width: 375px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: hsl(0, 0%, 100%);
    position: relative;
    top: 100px;
    height: 550px;
    border-radius: 15px;
    box-shadow: 10px 10px hsl(0, 0%, 7%);
    border-style: solid;
    border-color:hsl(0, 0%, 7%);
    border-width: 1px;
}

.hidden {
    display: none;
}

.content{
    position: absolute;
    top: 240px;
    
}

.illustration img {
    border-radius: 10px;
    
}

.illustration {
    position: absolute;
    top: 20px;
}

.tag {
    display: inline-block;
    background-color: hsl(47, 88%, 63%);
    padding: 0px 10px;
}

.avatar {
    display: grid;
    padding-top: 24px;
    width: 130px;
    height: 32px;
    gap: 12px;
    grid-template-columns: 32px 1fr;
    align-items: center;

}

.user_name {
    font-size: 14px;
    font-weight: 600;
}
